### Retail Sales & Profitability Analysis
#### By - Shivam Singh

##### objective
The objective of this project is to analyze historical retail sales data to identify trends, profitability drivers, and improvement opportunities using data analytics tools.

In [1]:
# Import Data Manipulation Libraries
import pandas as pd
import numpy as np

# Import data visualization libaries
import matplotlib.pyplot as plt
import seaborn as sns

# Import Neccessory Libraries
import warnings
warnings.filterwarnings(action= 'ignore')

In [2]:
df = pd.read_csv(r'C:\retail-sales-profitability-analysis\Retail-Superstore.csv', encoding='latin1')

In [3]:
# 1. How big data is ?
df.shape

(9994, 21)

In [4]:
# 2. How does the data look like ?
df.sample(frac=1)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
8566,8567,CA-2016-134110,11/17/2016,11/18/2016,First Class,BG-11035,Barry Gonzalez,Consumer,United States,The Colony,...,75056,Central,OFF-PA-10000697,Office Supplies,Paper,"TOPS Voice Message Log Book, Flash Format",15.232,4,0.2,5.5216
97,98,CA-2017-157833,6/17/2017,6/20/2017,First Class,KD-16345,Katherine Ducich,Consumer,United States,San Francisco,...,94122,West,OFF-BI-10001721,Office Supplies,Binders,Trimflex Flexible Post Binders,51.312,3,0.2,17.9592
9659,9660,CA-2014-100860,3/26/2014,3/30/2014,Second Class,CS-12505,Cindy Stewart,Consumer,United States,Pomona,...,91767,West,OFF-LA-10001982,Office Supplies,Labels,Smead Alpha-Z Color-Coded Name Labels First Le...,18.750,5,0.0,9.0000
9978,9979,US-2016-103674,12/6/2016,12/10/2016,Standard Class,AP-10720,Anne Pryor,Home Office,United States,Los Angeles,...,90032,West,OFF-BI-10003727,Office Supplies,Binders,Avery Durable Slant Ring Binders With Label Ho...,13.376,4,0.2,4.6816
8612,8613,CA-2016-146437,1/28/2016,2/1/2016,Second Class,HG-14965,Henry Goldwyn,Corporate,United States,Los Angeles,...,90036,West,OFF-AR-10000588,Office Supplies,Art,Newell 345,39.680,2,0.0,10.3168
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5430,5431,CA-2017-117422,10/21/2017,10/25/2017,Standard Class,FC-14245,Frank Carlisle,Home Office,United States,Lakewood,...,44107,East,OFF-AP-10000938,Office Supplies,Appliances,Avanti 1.7 Cu. Ft. Refrigerator,161.568,2,0.2,16.1568
4119,4120,CA-2015-153416,11/24/2015,11/29/2015,Standard Class,TS-21340,Toby Swindell,Consumer,United States,Los Angeles,...,90036,West,OFF-BI-10002706,Office Supplies,Binders,Avery Premier Heavy-Duty Binder with Round Loc...,91.392,8,0.2,29.7024
9166,9167,CA-2016-100300,6/24/2016,6/26/2016,Second Class,MJ-17740,Max Jones,Consumer,United States,San Diego,...,92037,West,OFF-PA-10000418,Office Supplies,Paper,Xerox 189,104.850,1,0.0,50.3280
4945,4946,CA-2016-151372,9/5/2016,9/6/2016,First Class,JH-15985,Joseph Holt,Consumer,United States,Redondo Beach,...,90278,West,OFF-BI-10000050,Office Supplies,Binders,"Angle-D Binders with Locking Rings, Label Holders",11.680,2,0.2,3.9420
1038,1039,CA-2017-121818,11/20/2017,11/21/2017,First Class,JH-15430,Jennifer Halladay,Consumer,United States,Burlington,...,27217,South,OFF-AR-10000203,Office Supplies,Art,Newell 336,23.968,7,0.2,2.6964

In [5]:
# data type of different cols?
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB

In [6]:
# Is there any missing value
df.isnull().sum()

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

In [7]:
# Removing spaces 
df.columns = df.columns.str.strip()  # remove extra spaces

df.columns = df.columns.str.lower().str.replace(' ', '_')

df.columns

Index(['row_id', 'order_id', 'order_date', 'ship_date', 'ship_mode',
       'customer_id', 'customer_name', 'segment', 'country', 'city', 'state',
       'postal_code', 'region', 'product_id', 'category', 'sub-category',
       'product_name', 'sales', 'quantity', 'discount', 'profit'],
      dtype='object')

In [8]:
# changing sub-category to sub_category
df.columns = df.columns.str.replace('-', '_')

In [9]:
# Converting date from object datatype to date datatype
df['order_date'] = pd.to_datetime(df['order_date'])
df['ship_date'] = pd.to_datetime(df['ship_date'])

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   row_id         9994 non-null   int64
 1   order_id       9994 non-null   object
 2   order_date     9994 non-null   datetime64[ns]
 3   ship_date      9994 non-null   datetime64[ns]
 4   ship_mode      9994 non-null   object
 5   customer_id    9994 non-null   object
 6   customer_name  9994 non-null   object
 7   segment        9994 non-null   object
 8   country        9994 non-null   object
 9   city           9994 non-null   object
 10  state          9994 non-null   object
 11  postal_code    9994 non-null   int64
 12  region         9994 non-null   object
 13  product_id     9994 non-null   object
 14  category       9994 non-null   object
 15  sub_category   9994 non-null   object
 16  product_name   9994 non-null   object
 17  sales          9994 non-null   float64
 18  quantity       9994 non-null   int64
 19  discount       9994 non-null   float64
 20  profit         9994 non-null   float64
dtypes: datetime64[ns](2), float64(3), int64(3), object(13)
memory usage: 1.6+ MB

Feature Engineering

In [11]:
# Creating year and month columns
df['year'] = df['order_date'].dt.year
df['month'] = df['order_date'].dt.month
df['month_name'] = df['order_date'].dt.month_name()

In [12]:
# profit margin
df['profit_margin'] = df['profit'] / df['sales']

In [13]:
# order shipping time 
df['shipping_days'] = (df['ship_date'] - df['order_date']).dt.days

In [14]:
df.head()

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,...,product_name,sales,quantity,discount,profit,year,month,month_name,profit_margin,shipping_days
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136,2016,11,November,0.1600,3
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820,2016,11,November,0.3000,3
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714,2016,6,June,0.4700,4
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310,2015,10,October,-0.4000,7
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164,2015,10,October,0.1125,7

Descriptive Stats

In [15]:
from collections import OrderedDict
# (numerical stats , categorical stas , data info )
def descriptive_stats():
    
    # segregate numerical columns and categorical columns
    numerical_col = df.select_dtypes(exclude = ["object", "datetime64[ns]"]).columns
    categorical_col = df.select_dtypes(include = "object").columns

    # Checking Stats: Numerical Columns
    # Checking Stats: Numerical Columns
    num_stats = []
    cat_stats = []
    data_info = []

    for i in numerical_col:
        Q1 = df[i].quantile(0.25)
        Q3 = df[i].quantile(0.75)
        IQR = Q3 - Q1
        LWR = Q1 - 1.5 * IQR
        UWR = Q3 + 1.5 * IQR

        outlier_count = len(df[(df[i] < LWR) | (df[i] > UWR)])
        outlier_percentage = (outlier_count / len(df)) * 100

        numericalstats = OrderedDict({
            "Feature": i,
            "Mean": df[i].mean(),
            "Median": df[i].median(),
            "Minimum": df[i].min(),
            "Maximum": df[i].max(),
            "Q1": Q1,
            "Q3": Q3,
            "IQR": IQR,
            "LWR": LWR,
            "UWR": UWR,
            "Outlier Count": outlier_count,
            "Outlier Percentage": outlier_percentage,
            "Standard Deviation": df[i].std(),
            "Variance": df[i].var(),
            "Skewness": df[i].skew(),
            "Kurtosis": df[i].kurtosis()
                    })
        num_stats.append(numericalstats)

    # Create DataFrame AFTER the loop completes
    numerical_stats_report = pd.DataFrame(num_stats)

    # Checking for Categorical columns
    for i in categorical_col:
        # Handle case where mode() might return empty Series
        mode_val = df[i].mode()
        mode_val = mode_val[0] if not mode_val.empty else None

        cat_stats1 = OrderedDict({
            "Feature": i,
            "Unique Values": df[i].nunique(),
            "Value Counts": df[i].value_counts().to_dict(),
            "Mode": mode_val
        })
        cat_stats.append(cat_stats1)

    categorical_stats_report = pd.DataFrame(cat_stats)

    # Checking dataset information
    for i in df.columns:
        data_info1 = OrderedDict({
            "Feature": i,
            "Data Type": str(df[i].dtype),
            "Missing_Values": df[i].isnull().sum(),
            "Unique_Values": df[i].nunique(),
            "Value_Counts": df[i].value_counts().to_dict()
        })
        data_info.append(data_info1)

    data_info_report = pd.DataFrame(data_info)

    return numerical_stats_report, categorical_stats_report, data_info_report

numerical_stats_report, categorical_stats_report, data_info_report  = descriptive_stats()

In [16]:
# numerical_stats
numerical_stats_report.to_csv('reports/numerical-stats-report.csv',index= False)
numerical_stats_report

,Feature,Mean,Median,Minimum,Maximum,Q1,Q3,IQR,LWR,UWR,Outlier Count,Outlier Percentage,Standard Deviation,Variance,Skewness,Kurtosis
0,row_id,4997.500000,4997.5000,1.000,9994.000,2499.25000,7495.7500,4996.50000,-4995.500000,14990.500000,0,0.000000,2885.163629,8.324169e+06,0.000000,-1.200000
1,postal_code,55190.379428,56430.5000,1040.000,99301.000,23223.00000,90008.0000,66785.00000,-76954.500000,190185.500000,0,0.000000,32063.693350,1.028080e+09,-0.128526,-1.493020
2,sales,229.858001,54.4900,0.444,22638.480,17.28000,209.9400,192.66000,-271.710000,498.930000,1167,11.677006,623.245101,3.884345e+05,12.972752,305.311753
3,quantity,3.789574,3.0000,1.000,14.000,2.00000,5.0000,3.00000,-2.500000,9.500000,170,1.701021,2.225110,4.951113e+00,1.278545,1.991889
4,discount,0.156203,0.2000,0.000,0.800,0.00000,0.2000,0.20000,-0.300000,0.500000,856,8.565139,0.206452,4.262242e-02,1.684295,2.409546
5,profit,28.656896,8.6665,-6599.978,8399.976,1.72875,29.3640,27.63525,-39.724125,70.816875,1881,18.821293,234.260108,5.487780e+04,7.561432,397.188515
6,year,2015.722233,2016.0000,2014.000,2017.000,2015.00000,2017.0000,2.00000,2012.000000,2020.000000,0,0.000000,1.123555,1.262376e+00,-0.282823,-1.307565
7,month,7.809686,9.0000,1.000,12.000,5.00000,11.0000,6.00000,-4.000000,20.000000,0,0.000000,3.284654,1.078895e+01,-0.429693,-0.991328
8,profit_margin,0.120314,0.2700,-2.750,0.500,0.07500,0.3625,0.28750,-0.356250,0.793750,952,9.525715,0.466754,2.178596e-01,-2.894826,10.173344
9,shipping_days,3.958175,4.0000,0.000,7.000,3.00000,5.0000,2.00000,0.000000,8.000000,0,0.000000,1.747567,3.053990e+00,-0.421322,-0.287552

In [17]:
# categorical stats
categorical_stats_report.to_csv('reports/Categorical-report.csv',index= False)
categorical_stats_report

,Feature,Unique Values,Value Counts,Mode
0,order_id,5009,"{'CA-2017-100111': 14, 'CA-2017-157987': 12, '...",CA-2017-100111
1,ship_mode,4,"{'Standard Class': 5968, 'Second Class': 1945,...",Standard Class
2,customer_id,793,"{'WB-21850': 37, 'MA-17560': 34, 'JL-15835': 3...",WB-21850
3,customer_name,793,"{'William Brown': 37, 'Matt Abelman': 34, 'Joh...",William Brown
4,segment,3,"{'Consumer': 5191, 'Corporate': 3020, 'Home Of...",Consumer
5,country,1,{'United States': 9994},United States
6,city,531,"{'New York City': 915, 'Los Angeles': 747, 'Ph...",New York City
7,state,49,"{'California': 2001, 'New York': 1128, 'Texas'...",California
8,region,4,"{'West': 3203, 'East': 2848, 'Central': 2323, ...",West
9,product_id,1862,"{'OFF-PA-10001970': 19, 'TEC-AC-10003832': 18,...",OFF-PA-10001970
10,category,3,"{'Office Supplies': 6026, 'Furniture': 2121, '...",Office Supplies
11,sub_category,17,"{'Binders': 1523, 'Paper': 1370, 'Furnishings'...",Binders
12,product_name,1850,"{'Staple envelope': 48, 'Staples': 46, 'Easy-s...",Staple envelope
13,month_name,12,"{'November': 1471, 'December': 1408, 'Septembe...",November

In [18]:
# data info
data_info_report.to_csv('reports/data-info-report.csv',index= False) 
data_info_report

,Feature,Data Type,Missing_Values,Unique_Values,Value_Counts
0,row_id,int64,0,9994,"{9994: 1, 1: 1, 2: 1, 3: 1, 4: 1, 5: 1, 6: 1, ..."
1,order_id,object,0,5009,"{'CA-2017-100111': 14, 'CA-2017-157987': 12, '..."
2,order_date,datetime64[ns],0,1237,"{2016-09-05 00:00:00: 38, 2017-09-02 00:00:00:..."
3,ship_date,datetime64[ns],0,1334,"{2015-12-16 00:00:00: 35, 2017-09-26 00:00:00:..."
4,ship_mode,object,0,4,"{'Standard Class': 5968, 'Second Class': 1945,..."
5,customer_id,object,0,793,"{'WB-21850': 37, 'MA-17560': 34, 'JL-15835': 3..."
6,customer_name,object,0,793,"{'William Brown': 37, 'Matt Abelman': 34, 'Joh..."
7,segment,object,0,3,"{'Consumer': 5191, 'Corporate': 3020, 'Home Of..."
8,country,object,0,1,{'United States': 9994}
9,city,object,0,531,"{'New York City': 915, 'Los Angeles': 747, 'Ph..."
10,state,object,0,49,"{'California': 2001, 'New York': 1128, 'Texas'..."
11,postal_code,int64,0,631,"{10035: 263, 10024: 230, 10009: 229, 94122: 20..."
12,region,object,0,4,"{'West': 3203, 'East': 2848, 'Central': 2323, ..."
13,product_id,object,0,1862,"{'OFF-PA-10001970': 19, 'TEC-AC-10003832': 18,..."
14,category,object,0,3,"{'Office Supplies': 6026, 'Furniture': 2121, '..."
15,sub_category,object,0,17,"{'Binders': 1523, 'Paper': 1370, 'Furnishings'..."
16,product_name,object,0,1850,"{'Staple envelope': 48, 'Staples': 46, 'Easy-s..."
17,sales,float64,0,5825,"{12.96: 56, 19.44: 39, 15.552: 39, 10.368: 36,..."
18,quantity,int64,0,14,"{3: 2409, 2: 2402, 5: 1230, 4: 1191, 1: 899, 7..."
19,discount,float64,0,12,"{0.0: 4798, 0.2: 3657, 0.7: 418, 0.8: 300, 0.3..."
20,profit,float64,0,7287,"{0.0: 65, 6.2208: 43, 9.3312: 38, 3.6288: 32, ..."
21,year,int32,0,4,"{2017: 3312, 2016: 2587, 2015: 2102, 2014: 1993}"
22,month,int32,0,12,"{11: 1471, 12: 1408, 9: 1383, 10: 819, 5: 735,..."
23,month_name,object,0,12,"{'November': 1471, 'December': 1408, 'Septembe..."
24,profit_margin,float64,0,572,"{0.26: 258, 0.35: 246, 0.48: 204, 0.4700000000..."
25,shipping_days,int64,0,8,"{4: 2774, 5: 2169, 2: 1334, 6: 1203, 3: 1005, ..."

In [21]:
df.to_csv("Retail-cleaned.csv",index= False)

Connecting code to Mysql

In [19]:
!pip install pymysql sqlalchemy

Requirement already satisfied: pymysql in c:\anaconda\lib\site-packages (1.1.2)
Requirement already satisfied: sqlalchemy in c:\anaconda\lib\site-packages (2.0.39)
Requirement already satisfied: greenlet!=0.4.17 in c:\anaconda\lib\site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\anaconda\lib\site-packages (from sqlalchemy) (4.12.2)

In [ ]:
from sqlalchemy import create_engine

# MySQL connection
username = "root"
password = "shivam"
host = "localhost"
port = "3306"
database = "retail_sales"

engine = create_engine(f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}")

# Write DataFrame to MySQL
table_name = "retail"   # choose any table name
df.to_sql(table_name, engine, if_exists="replace", index=False)

9994